/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background and Container */
body {
    background: linear-gradient(180deg, #00001C 0%, #003366 100%);
    color: rgb(216, 230, 255);
    font-family: 'Arial', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    text-align: center;
    max-width: 900px;
    min-width: 300px;
    padding: 20px;
}

/* Header */
header h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Main Content */
main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Call to Action Button */
.cta-button {
    background-color: #1DB954; /* Similar to Spotify's green but slightly adapted */
    color: #000;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #17a94e;
}

/* Footer */
footer {
    margin-top: 40px;
    font-size: 0.9em;
}
