html,  body{
    height: 100%;
    margin: 0;
    padding: 10%;
    
}

#main{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    
}

#app{
    width:100%;
    height: 100%;
    
    
}


.music-player-container {
    max-width: 400px;
    margin: 0 auto; /* Center the player horizontally */
}

.music-player-card {
    height: auto;
}


.room-not-found {
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-color: #191414; /* Spotify's background color */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.room-not-found h1 {
    font-size: 3em;
    font-weight: 700;
}

.room-not-found p {
    font-size: 1.5em;
}
